
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetManageLimit</title>
</head>
<body>
    <div  style="width:900px;height:600px;background-color:antiquewhite;">
        <div style="width:300px;background-color:aquamarine">
            <input type="type" name="BuyerName" value="" placeholder="请输入企业名称" /><button style="background-color:#4cff00;color:white">查询</button>
            <div style="width:250px;padding-left:320px;background-color:cornflowerblue;padding-top:-30px;">  <span>审核状态<input type="type" name="State" value="" placeholder="选择审核状态" /></span></div>
        </div>
    </div>
</body>
</html>
