
@{
    Layout = null;
}
@model List<LWT.Model.PurchaseSettle>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetPurChaseSettle</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" type="text/css" href="~/Content/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="~/Content/static/h-ui.admin/css/style.css" />
    <link href="~/scripts/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div style="text-align:center;">
        <div style="padding-top:20px;">
            <input id="Text1" type="text" name="Name" placeholder="输入姓名" style="height:26px;"/>
            <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i>查询</button>
        </div> 
        <div style="padding-top:20px;">
            <table class="table table-border">
                <tr>
                    <th>序号</th>
                    <th>采购商名称</th>
                    <th>结算类型</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.BuyerName</td>
                    <td>@item.SettleMeny</td>
                    <td>@(item.State == 0 ? "未审核" : "已审核" )</td>
                    <td class="td-manage"><a title="结算详情" href="javascript:;" onclick="admin_edit('结算详情','/Settle/ThinPurState/','2','900','600')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">[查看]</i></a> </td>
                </tr>
                }
            </table>
        </div> 
    </div>
    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="~/Content/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/Content/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/static/h-ui.admin/js/H-ui.admin.js"></script>
    <!--/_footer 作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->

    <script src="~/Content/lib/jquery-1.10.2.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/scripts/jquery-form.js"></script>
    <script src="~/scripts/MvcPager/MvcPager.js"></script>
    <script type="text/javascript" src="~/Content/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        function admin_edit(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }
    </script>
</body>
</html>
