
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThinMaLimite</title>
</head>
<body>
    <h1>我是额度详情哦!!!</h1>
</body>
</html>
