
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThinMaLimite</title>
</head>
<body>
    <h1>我是额度详情哦!!!</h1>
    <div>
        <table>
            <tr>
                <td><span>企业采购:</span></td>
            </tr>
            <tr>
                <td><span>已分配额度:</span></td>
            </tr>
            <tr>
                <td><span>申请增加额度:</span></td>
            </tr>
            <tr>
                <td><span>申请理由:</span></td>
            <tr>
            <tr>
                <td><span>附加文件:</span></td>
            </tr>
            <tr>
                <td><button>提交</button><input id="Button1" type="button" value="返回" onclick="location.href='/Settle/GetManageLimit/'"/></td></td>
            </tr>
        </table>
    </div>
</body>
</html>
