
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderList</title>
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <table class="table table-border table-hover table-striped">
            <tr>
                <td> 编号 </td>
                <td> 订单号 </td>
                <td> 订货日期 </td>
                <td> 订单总价 </td>
                <td> 收货地址 </td>
                <td> 采购商 </td>
                <td> 操作 </td>
            </tr>
            <tr v-for="item in dataList" v-bind:key="item.id">

                <td>{{item.id}}</td>
                <td>{{item.orderNum}}</td>
                <td>{{item.orderTime}}</td>
                <td>{{item.price}}</td>
                <td>{{item.address}}</td>
                <td>{{item.userId}}</td>
                <td>
                    <a href="javascript:;" v-on:click="JumpTo(item.orderNum)"> 查看详情 </a>
                </td>
            </tr>
        </table>
        <!--分页布局-->
        <div style="width:50%;margin:auto;">
            <a class="btn btn-secondary-outline" v-on:click="firstpage">首页</a>
            <a class="btn btn-secondary-outline" v-on:click="prevpage">上一页</a>
            <span v-for="index in totalPage">
                <a class="btn btn-secondary" v-if="index==currentpage">{{index}}</a>
                <a class="btn btn-secondary-outline" v-else v-on:click="thispage(index)">{{index}}</a>
            </span>
            <a class="btn btn-secondary-outline" v-on:click="nextpage">下一页</a>
            <a class="btn btn-secondary-outline" v-on:click="lastpage">尾页</a>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            totalCount: 0,
            totalPage: 0,
            currentpage: 1,
            searchtxt: "",
            dataList: null
        },
        mounted: function () {
            var that = this;
            axios.get('/Supplier/PageOrders')
                .then(function (res) {
                    console.log(res.data);
                    that.totalCount = res.data.totalCount;
                    that.totalPage = res.data.totalPage;
                    that.dataList = res.data.dataList;
                })
            
        },
        methods: {
            firstpage: function () {
                var that = this;
                if (that.currentpage != 1) {
                    that.currentpage = 1;
                    axios({
                        url: "/Supplier/PageOrders",
                        method: "get",
                        params: { 'CurPage': that.currentpage, 'StrWhere': that.searchtxt }
                    }).then(function (res) {
                        that.totalCount = res.data.totalCount;
                        that.totalPage = res.data.totalPage;
                        that.dataList = res.data.dataList;
                    })
                }
            },
            nextpage: function () {
                var that = this;
                if (that.currentpage < that.totalPage) {
                    that.currentpage += 1;
                    axios({
                        url: "/Supplier/PageOrders",
                        method: "get",
                        params: { 'CurPage': that.currentpage, 'StrWhere': that.searchtxt }
                    }).then(function (res) {
                        that.totalCount = res.data.totalCount;
                        that.totalPage = res.data.totalPage;
                        that.dataList = res.data.dataList;
                    })
                }

            },
            thispage: function (res) {
                var that = this;
                that.currentpage = res;
                axios({
                    url: "/Supplier/PageOrders",
                    method: "get",
                    params: { 'CurPage': that.currentpage, 'StrWhere': that.searchtxt }
                }).then(function (res) {
                    that.totalCount = res.data.totalCount;
                    that.totalPage = res.data.totalPage;
                    that.dataList = res.data.dataList;
                })

            },
            prevpage: function () {
                var that = this;
                if (that.currentpage > 1) {
                    that.currentpage -= 1;
                    axios({
                        url: "/Supplier/PageOrders",
                        method: "get",
                        params: { 'CurPage': that.currentpage, 'StrWhere': that.searchtxt }
                    }).then(function (res) {
                        that.totalCount = res.data.totalCount;
                        that.totalPage = res.data.totalPage;
                        that.dataList = res.data.dataList;
                    })
                }

            },
            lastpage: function () {
                var that = this;
                if (that.currentpage != that.totalPage) {
                    that.currentpage = that.totalPage;
                    axios({
                        url: "/Supplier/PageOrders",
                        method: "get",
                        params: { 'CurPage': that.currentpage, 'StrWhere': that.searchtxt }
                    }).then(function (res) {
                        that.totalCount = res.data.totalCount;
                        that.totalPage = res.data.totalPage;
                        that.dataList = res.data.dataList;
                    })
                }

            },
            search: function () {
                var that = this;
                that.currentpage = 1;
                axios({
                    url: "/Supplier/PageOrders",
                    method: "get",
                    params: { 'CurPage': that.currentpage, 'StrWhere': that.searchtxt }
                }).then(function (res) {
                    that.totalCount = res.data.totalCount;
                    that.totalPage = res.data.totalPage;
                    that.dataList = res.data.dataList;
                })
            },
            //修改事件
            JumpTo: function (res) {
                location.href = '/Supplier/OrderList?OrderNum=' + res;
            }
        }
    })

</script>