
@{
    Layout = null;
}
@model List<LWT.Model.Goods>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReviewOfGoods</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <table>
            <tr>
                <td> 编号 </td>
                <td> 商品名称 </td>
                <td> 商品图片 </td>
                <td> 类目 </td>
                <td> 品牌 </td>
                <td> 颜色 </td>
                <td> 规格属性 </td>
                <td> 价格 </td>
                <td> 库存量 </td>
                <td> 状态 </td>
                <td> 是否启用 </td>
                <td> 操作 </td>
            </tr>
            <tr v-for="item in info" v-bind:key="item.id">

                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.img}}</td>
                <td>{{item.category}}</td>
                <td>{{item.band}}</td>
                <td>{{item.color}}</td>
                <td>{{item.attribute}}</td>
                <td>{{item.price}}</td>
                <td>{{item.inventory}}</td>
                <template v-if="item.state==0">
                    <td>待审核</td>
                </template>
                <template v-else-if="item.state==1">
                    <td>审核通过</td>
                </template>
                <td>{{item.isable}}</td>
                <td>
                    <a href="javascript:;" v-on:click="update(item.Id,$event)">update</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            info: null,
            Id: 0,
            State:1,
            num:0
        },
        mounted: function () {
            var that = this;
            axios.get('http://localhost:60259/api/Supplier/GetGoods').then(function (res) {
                that.info = res.data;
            });
        },
        update: function (res) {
            axios.put('http://localhost:60259/api/Supplier/UpdateGoods?Id='+res, {
            }).then(function (res) {
                console.log(res);
            });
        }
    })

</script>