
@{
    Layout = null;
}
<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <script src="~/js/jquery-1.10.2.js"></script>
    <script src="~/js/axios.js"></script>
    <script src="~/js/vue.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="~/Content/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>添加用户</title>
</head>
<body>
    <div id="app">
        <article>
            <form action="AddPurChase" method="post" class="form form-horizontal" id="form-member-add" enctype="multipart/form-data">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>公司名称：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="" v-model="CompanyName" placeholder="" id="companyname">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>联系人：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="" v-model="LinkManName" placeholder="" id="LinkManName">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>联系人电话：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="" v-model="LinkPhone" placeholder="" id="LinkPhone">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>联系邮箱：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="" v-model="LinkMan" placeholder="" id="Linkemail">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>结算账期：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" v-model="SettleDateTime" placeholder="" id="SettleDateTime">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>年营业额：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" v-model="YearTurnove" placeholder="" id="YearTurnove">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>设置密码：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" v-model="PassWord" placeholder="" id="PassWord1">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" placeholder="" id="PassWord2">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>企业性质：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" v-model="Logo" placeholder="" id="Logo">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">公司地址：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" v-model="BusinessLicence" placeholder="" id="address">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">商家简介：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <textarea name="beizhu" v-model="BusinessMark" id="BusinessMark" class="textarea" placeholder="说点什么...最少输入10个字符" onKeyUp="$.Huitextarealength(this,100)"></textarea>
                        <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>是否关联工程服务商：</label>
                    <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                        <div class="radio-box">
                            <input name="sex1" type="radio" id="sex-1" checked>
                            <label for="sex-1">关联</label>
                        </div>
                        <div class="radio-box">
                            <input type="radio" id="sex-2" name="sex1">
                            <label for="sex-2">不关联</label>
                        </div>
                    </div>
                </div>
                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                        <input class="btn btn-primary radius" type="button" v-on:click="adduser" value="提交">
                    </div>
                </div>
            </form>
        </article>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                Id:null,
                CompanyName: "",
                StoreName: "",
                LinkMan: "",
                LinkManEmail: "",
                PassWord: "",
                BusinessLicence: "",
                Status: null,
                Logo: "",
                SalesId: "",
                Brand: "",
                Aid: 0,
                BusinessMark: "",
                PhoneNumber: "",
                select: null,
                selectbrand:null
            },
            mounted: function () {
             
            },
            methods: {
                adduser: function () {
                    var that = this;
                    var params = new URLSearchParams();
                    params.append('Id', null);
                    params.append('CompanyName', $("#companyname").val());
                    params.append('LinkManName', $("#LinkManName").val());
                    params.append('StoreName', $("#LinkPhone").val());
                    params.append('LinkMan', $("#Linkemail").val());
                    params.append('LinkManEmail', $("#SettleDateTime").val());
                    if ($("#PassWord1").val() != $("#PassWord2").val()) {
                        alert("对不起，您输入的两次密码不一致，请重新输入！");

                    }
                    else {
                        params.append('PassWord', $("#PassWord1").val());
                    }
                    params.append('BusinessLicence', $("#address").val());

                    if ($('input[name="sex1"]:checked').val() !== null) {
                        params.append('Status', $('input[name="sex1"]:checked').val());
                    }
                    else if ($('input[name="sex2"]:checked').val() !== null) {
                        params.append('Status', $('input[name="sex2"]:checked').val());
                    }
                    params.append('Logo', $("#Logo").val());       
                    params.append('BusinessMark', $("#BusinessMark").val());
                    params.append('PhoneNumber', $("#PhoneNumber").val());
                    axios({
                        method: 'post',
                        url: '/index/AddPurChase',
                        data: params
                    }).then(function (res) {
                        alert('添加成功！');
                    });
                }
            }
        });
    </script>

    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="~/Content/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/Content/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="~/Content/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="~/Content/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Content/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="~/Content/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox-blue',
                radioClass: 'iradio-blue',
                increaseArea: '20%'
            });

            $("#form-member-add").validate({
                rules: {
                    username: {
                        required: true,
                        minlength: 2,
                        maxlength: 16
                    },
                    sex: {
                        required: true,
                    },
                    mobile: {
                        required: true,
                        isMobile: true,
                    },
                    email: {
                        required: true,
                        email: true,
                    },
                    uploadfile: {
                        required: true,
                    },
                },
                onkeyup: false,
                focusCleanup: true,
                success: "valid",
                submitHandler: function (form) {
                    //$(form).ajaxSubmit();
                    var index = parent.layer.getFrameIndex(window.name);
                    //parent.$('.btn-refresh').click();
                    parent.layer.close(index);
                }
            });
        });

    </script>
    <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>