
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddSupplier</title>
</head>
<body>
    <table>
        <tr>
            <td align="right">公司名称：</td>
            <td><input id="Text1" type="text" /></td>
        </tr>
        <tr>
            <td align="right">店铺名称：</td>
            <td><input id="Text1" type="text" /></td>
        </tr>
        <tr>
            <td align="right">联系人：</td>
            <td><input id="Text1" type="text" /></td>
        </tr>
        <tr>
            <td align="right">联系人邮箱：</td>
            <td><input id="Text1" type="text" /></td>
        </tr>
        <tr>
            <td align="right">联系人电话：</td>
            <td><input id="Text1" type="text" /></td>
        </tr>
        <tr>
            <td align="right">设置密码：</td>
            <td><input id="Text1" type="text" /></td>
        </tr>
        <tr>
            <td align="right">确认密码：</td>
            <td><input id="Text1" type="text" /></td>
        </tr>
        <tr>
            <td align="right">企业Logo：</td>
            <td><input id="Text1" type="text" /></td>
        </tr>
        <tr>
            <td align="right">营业执照：</td>
            <td><input id="Text1" type="text" /></td>
        </tr>
        <tr>
            <td align="right">选择品牌：</td>
            <td></td>
        </tr>
        <tr>
            <td align="right">销售区域（包含可配送区域）：</td>
            <td></td>
        </tr>
        <tr>
            <td align="right">商家简介：</td>
            <td><textarea id="TextArea1" rows="2" cols="20"></textarea></td>
        </tr>
        <tr>
            <td align="right">是否关联工程服务商：</td>
            <td><input id="Radio1" type="radio" checked="checked" />关联<input id="Radio1" type="radio" />不关联</td>
        </tr>
        <tr>
            <td></td>
            <td><input id="Button1" type="button" value="提交" /><input id="Button1" type="button" value="返回" /></td>
        </tr>
    </table>
</body>
</html>
