
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddUsersRole</title>
    <script src="~/js/jquery-1.10.2.js"></script>
    <script src="~/js/axios.js"></script>
    <script src="~/js/vue.js"></script>
    <link href="~/Content/lib/Bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table id="app" class="table table-border">
            <tr>
                <td align="right">角色名称：</td>
                <td><input id="name" type="text" /></td>
            </tr>
            <tr>
                <td align="right">状态：</td>
                <td><input id="Radio1" name="yes" type="radio" checked="checked" value="1"/>启用<input id="Radio1" name="yes" type="radio" value="0"/>停用</td>
            </tr>
            <tr>
                <td></td>
                <td><input id="Button1" v-on:click="adduser" type="button" class="btn btn-primary" value="注册" />&nbsp;&nbsp;&nbsp;&nbsp;<input id="Reset1" class="btn btn-danger" type="reset" value="取消" /></td>
            </tr>
        </table>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                RoleName: "",
                RoleId: 0,
            },
            methods: {
                adduser: function () {
                    var that = this;
                    var params = new URLSearchParams();
                    params.append('Id', '0');
                    params.append('RoleName', $("#name").val());
                    if ($('input[name="yes"]:checked').val() !== null) {
                        params.append('RoleId', $('input[name="yes"]:checked').val());
                    }
                    else if ($('input[name="no"]:checked').val() !== null) {
                        params.append('RoleId', $('input[name="no"]:checked').val());
                    }
                    axios({
                        method: 'post',
                        url: '/Index/AddUsersRole',
                        data: params
                    }).then(function (res) {
                        alert('角色添加成功！');
                        location.href('/index/RolesManage');
                    });
                },
                
            }
        })
    </script>
</body>
</html>
