
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddUsersRole</title>
    <script src="~/js/jquery-1.10.2.js"></script>
    <script src="~/js/axios.js"></script>
    <script src="~/js/vue.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table id="app">
            <tr>
                <td align="right">角色名称：</td>
                <td><input id="name" type="text" /></td>
            </tr>
            <tr>
                <td align="right">状态：</td>
                <td><input id="Radio1" name="yes" type="radio" value="1"/>启用<input id="Radio2" name="no" type="radio" value="0"/>停用</td>
            </tr>
            <tr>
                <td></td>
                <td><input id="Button1" v-on:click="adduser" type="button" value="注册" /><input id="Button1" v-on:click="BackLogin" type="button" value="登录" /></td>
            </tr>
        </table>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                RoleName: "",
                RoleId: 0,
            },
            methods: {
                adduser: function () {
                    var that = this;
                    var params = new URLSearchParams();
                    params.append('Id', '0');
                    params.append('RoleName', $("#name").val());
                    if ($('input[name="yes"]:checked').val() !== null) {
                        params.append('RoleId', $('input[name="yes"]:checked').val());
                    }
                    else if ($('input[name="no"]:checked').val() !== null) {
                        params.append('RoleId', $('input[name="no"]:checked').val());
                    }
                    axios({
                        method: 'post',
                        url: '/Index/AddUsersRole',
                        data: params
                    }).then(function (res) {
                        if(res>0)
                        {
                            alert("角色添加成功！");
                        }
                    });
                },
                
            }
        })
    </script>
</body>
</html>
