
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link href="~/Content/static/h-ui/css/H-ui.css" rel="stylesheet" />
    <link href="~/Content/static/h-ui.admin/css/H-ui.admin.css" rel="stylesheet" />
    <link href="~/Content/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" />
    <link href="~/Content/static/h-ui.admin/skin/default/skin.css" rel="stylesheet" />
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.js"></script>

    <title>采购入驻管理</title>
</head>
<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统设置 <span class="c-gray en">&gt;</span> 权限管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container" id="app">
        <div class="text-c">

            <input type="text" class="input-text" style="width:250px" placeholder="输入菜单名称" v-model="searchtxt" id="search" name="">
            <button type="button" class="btn btn-success radius" id="" name="" v-on:click="search"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
                <a href="javascript:;" onclick="member_add('添加类目','member-add.html','','510')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 新增菜单项</a>
            </span> <span class="r">共有数据：<strong>{{totalCount}}</strong> 条</span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-hover table-bg table-sort">
                <thead>
                    <tr class="text-c">
                        <th width="150">品牌序号</th>
                        <th width="150">品牌名称</th>
                        <th width="150">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-c" v-for="item in dataList">
                        <td>{{item.bId}}</td>
                        <td>{{item.brandName}}</td>
                        <td class="td-manage"><a style="text-decoration:none" onClick="member_stop(this,'10001')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a> <a title="编辑" href="javascript:;" onclick="member_edit('编辑','member-add.html','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="change_password('详情','change-password.html','10001','600','270')" href="javascript:;" title="查看详情"><i class="Hui-iconfont">&#xe63f;</i></a> <a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                    </tr>
                </tbody>
            </table>
            <!--分页布局-->
            <div style="width:50%;margin:auto;">
                <a class="btn btn-secondary-outline" v-on:click="firstpage">首页</a>
                <a class="btn btn-secondary-outline" v-on:click="prevpage">上一页</a>

                <span v-for="index in totalPage">
                    <a class="btn btn-secondary" v-if="index==currentpage">{{index}}</a>
                    <a class="btn btn-secondary-outline" v-else v-on:click="thispage(index)">{{index}}</a>
                </span>
                <a class="btn btn-secondary-outline" v-on:click="nextpage">下一页</a>
                <a class="btn btn-secondary-outline" v-on:click="lastpage">尾页</a>
            </div>
        </div>
    </div>
    <!--_footer 作为公共模版分离出去-->
    <script src="~/Content/lib/jquery/1.9.1/jquery.js"></script>
    <script src="~/Content/lib/layer/2.4/layer.js"></script>
    <script src="~/Content/static/h-ui/js/H-ui.min.js"></script>
    <script src="~/Content/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="~/Content/lib/laypage/1.2/laypage.js"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                flag: 0,
                totalCount: 0,
                totalPage: 0,
                currentpage: 1,
                searchtxt: "",
                dataList: null,
                parentlist: null
            },
            mounted: function () {
                var that = this;
                axios.get('/Index/GetBrandlierList')
                    .then(function (res) {
                        that.totalCount = res.data.totalCount;
                        that.totalPage = res.data.totalPage;
                        that.dataList = res.data.dataList;
                    })
            },
            methods: {
                firstpage: function () {
                    var that = this;
                    if (that.currentpage != 1) {
                        that.currentpage = 1;
                        axios({
                            url: "/Index/GetBrandlierList",
                            method: "get",
                            params: { 'CurPage': that.currentpage, 'StrWhere': that.searchtxt }
                        }).then(function (res) {
                            that.totalCount = res.data.totalCount;
                            that.totalPage = res.data.totalPage;
                            that.dataList = res.data.dataList;
                        })
                    }
                },
                nextpage: function () {
                    var that = this;
                    if (that.currentpage < that.totalPage) {
                        that.currentpage += 1;
                        axios({
                            url: "/Index/GetBrandlierList",
                            method: "get",
                            params: { 'CurPage': that.currentpage, 'StrWhere': that.searchtxt }
                        }).then(function (res) {
                            that.totalCount = res.data.totalCount;
                            that.totalPage = res.data.totalPage;
                            that.dataList = res.data.dataList;
                        })
                    }

                },
                thispage: function (res) {
                    var that = this;
                    that.currentpage = res;
                    axios({
                        url: "/Index/GetBrandlierList",
                        method: "get",
                        params: { 'CurPage': that.currentpage, 'StrWhere': that.searchtxt }
                    }).then(function (res) {
                        that.totalCount = res.data.totalCount;
                        that.totalPage = res.data.totalPage;
                        that.dataList = res.data.dataList;
                    })

                },
                prevpage: function () {
                    var that = this;
                    if (that.currentpage > 1) {
                        that.currentpage -= 1;
                        axios({
                            url: "/Index/GetBrandlierList",
                            method: "get",
                            params: { 'CurPage': that.currentpage, 'StrWhere': that.searchtxt }
                        }).then(function (res) {
                            that.totalCount = res.data.totalCount;
                            that.totalPage = res.data.totalPage;
                            that.dataList = res.data.dataList;
                        })
                    }

                },
                lastpage: function () {
                    var that = this;
                    if (that.currentpage != that.totalPage) {
                        that.currentpage = that.totalPage;
                        axios({
                            url: "/Index/GetBrandlierList",
                            method: "get",
                            params: { 'CurPage': that.currentpage, 'StrWhere': that.searchtxt }
                        }).then(function (res) {
                            that.totalCount = res.data.totalCount;
                            that.totalPage = res.data.totalPage;
                            that.dataList = res.data.dataList;
                        })
                    }

                },
                refresh: function (that) {
                    axios({
                        url: "/Index/GetBrandlierList",
                        method: "get",
                        params: { 'CurPage': that.currentpage, 'StrWhere': that.searchtxt }
                    }).then(function (res) {
                        that.totalCount = res.data.totalCount;
                        that.totalPage = res.data.totalPage;
                        that.dataList = res.data.dataList;
                    })
                },
                search: function () {
                    var that = this;
                    that.currentpage = 1;
                    axios({
                        url: "/Index/GetBrandlierList",
                        method: "get",
                        params: { 'CurPage': that.currentpage, 'StrWhere': that.searchtxt }
                    }).then(function (res) {
                        that.totalCount = res.data.totalCount;
                        that.totalPage = res.data.totalPage;
                        that.dataList = res.data.dataList;
                    })
                },
                menuable: function (id) {
                    var that = this;
                    layer.confirm('确认要启用吗？', function () {
                        axios({
                            url: "/Index/PowerAbled",
                            method: "get",
                            params: { 'status': 1, 'id': id }
                        }).then(function (res) {
                            if (res.data > 0) {
                                layer.msg('已启用!', { icon: 6, time: 1000 });
                                that.$options.methods.refresh(that);
                            }
                        })
                    });
                },
                menudisable: function (id) {
                    var that = this;
                    layer.confirm('确认要停用吗？', function () {
                        axios({
                            url: "/Index/PowerAbled",
                            method: "get",
                            params: { 'status': 0, 'id': id }
                        }).then(function (res) {
                            if (res.data > 0) {
                                layer.msg('已停用!', { icon: 5, time: 1000 });
                                that.$options.methods.refresh(that);
                            }
                        })
                    });
                },
                edit: function (res) {
                    var that = this;
                    if (that.parentlist == null) {
                        axios({
                            url: "/Index/GetParentPower",
                            method: "get"
                        }).then(function (result) {
                            that.parentlist = result.data;
                        })
                    }
                    this.flag = res;
                },
                completed: function (res) {
                    var that = this;
                    that.flag = 0;
                    var obj = that.dataList.find(function (obj) {
                        return obj.id === res;
                    });
                    var params = new URLSearchParams();
                    params.append('Id', obj.id);
                    params.append('PowerName', obj.powerName);
                    params.append('Pid', obj.pid);
                    params.append('Status', obj.status);
                    params.append('Url', obj.url);
                    params.append('Sort', obj.sort);
                    axios({
                        url: "/Index/EditPower",
                        method: "post",
                        data: params
                    }).then(function (res) {
                        if (res.data>0) {
                            layer.msg('修改成功!', { icon: 1, time: 1000 });
                        }
                    })
                },
                delmenu: function (res) {
                    layer.confirm('确认要删除吗？', function () {
                        layer.msg('已删除!', { icon: 1, time: 1000 });
                    });
                }
            }
        })


        /*用户-添加*/
        function member_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }

    </script>
</body>
</html>

